/.vs
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/Debug
/DesktopCaptureApp.dir
/DesktopCaptureApp.sln
/DesktopCaptureApp.vcxproj
/DesktopCaptureApp.vcxproj.filters
/x64
/ZERO_CHECK.proj
/ZERO_CHECK.proj.filters
Continuous.vcxproj*
.gitignore
.gitignore
CPackSourceConfig.cmake
CPackConfig.cmake
.gitignore
RUN_TESTS*
PACKAGE*
CTestTestfile.cmake
.gitignore
Experimental*
Nightly*
.gitignore
.gitignore
src/out.h264
.vscode/out.h264
/pysrc/__pycache__
/build